* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #edf2f7 !important;
}
.css-h94677 {
  padding: 0 !important;
}
.css-1elf7ca {
  min-height: unset !important;
  background: var(--chakra-colors-gray-100);
}
.main_form {
  padding: 0 30px 0 285px;
  margin-top: 50px;
}
.css-jfo9gg {
  display: none;
}
.css-vn8yib {
  width: 155px !important;
  justify-content: space-between !important;
}
.css-dho3mt {
  margin-inline-start: 15px !important;
}
.css-1meoifv {
  margin-inline-start: 15px !important;
}
.css-itvw0n {
  margin-bottom: 0px !important;
}
.css-1kp110w {
  border-color: #b5b5b5 !important;
  margin-bottom: 15px !important;
}
.input_radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
label {
  margin-top: 2% !important;
  font-size: 18px !important;
}
